	<div id="Header">
		<div class="wrapper">
			<h1>{{ title }}</h1>	
		</div>
	</div>
	<div id="Content" class="wrapper"> 
		<div class="countdown styled"></div> 
		<h2 class="intro">{{ message }}<br/>Coming soon. Registrati!</h2>
		<div id="share">
			<div>
				<a href="{{ url }}#/{{title}}">
				Condividi questo Instaclone
				<pre>{{ url }}#/{{title}}</pre>
				</a>
			</div>
			<div>
				<a href="{{ url }}">Clicca per un nuovo Instaclone</a>
			</div>
		</div>
			<span class="tempBy">Qualcosagram &egrave; un simpatico generatore automagico di improbabili cloni di Instagram.<br/><br/><br/>ideato e realizzato da <a href="http://www.roccatello.com">Eduard Roccatello</a><br/>...ed &egrave; pure opensource <a href="http://www.github.com/mastershadow">my GitHub</a><br/><br/>Follow me</span>
			<div id="socialIcons">
				<ul> 
					<li><a href="https://www.twitter.com/edurocc" title="Twitter" class="twitterIcon"></a></li>
					<li><a href="https://www.facebook.com/mastershadow" title="Facebook" class="facebookIcon"></a></li>
					<li><a href="https://www.linkedin.com/in/roccatello" title="LinkedIn" class="linkedInIcon"></a></li>
					<li><a href="https://www.pinterest.com/edurocc/" title="Pinterest" class="pintrestIcon"></a></li>
				</ul>
			</div>
			<span class="tempBy"><span>template <a href="http://webthemez.com" alt="webthemez">WebThemez.com</a></span></span>
		</div>

		<div id="overlay"></div>